/composer.lock
*~
*.bak
Thumbs.db
desktop.ini
*.env
.DS_Store
.buildpath
.project
.settings
*.tmproj
build
.idea
/fuel/vendor
/fuel/app/logs/*/*/*
/fuel/app/cache/*/*
/fuel/app/config/crypt.php
nbproject/
/public/files/*
/public/assets/cache/*
/public/coverage/*
/mobile/assets/.sass-cache/*
