<!DOCTYPE html>
<html>
  <head>
    <title>Quizzle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">

    <link rel="shortcut icon" href="/assets/img/favicon.ico">
    <link rel="icon" sizes="128x128" href="/assets/img/apple-touch-icon.png">
    <link rel="apple-touch-icon" href="/assets/img/apple-touch-icon.png">

    <!--<link href="/assets/css/vendor/bootstrap.min.css" rel="stylesheet" media="screen">-->
    <link href="/assets/css/styles.css" rel="stylesheet" media="screen">

    <!--[if lt IE 9]>
      <script src="/assets/js/vendor/html5shiv.js"></script>
      <script src="/assets/js/vendor/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <!--<img src="/assets/img/bgpic.jpg" id="bg">-->

    <nav class="action-bar" role="navigation">

      <a class="action-bar__menu js-toggle-menu" href="#">
        <img src="/assets/img/logo.png">
      </a>

      <h1 class="action-bar__title">
        Quizzle
      </h1>

      <a class="action-bar__action js-refresh-stream" href="#">
        <img src="/assets/img/refresh.png">
      </a>

    </nav>

    <div id="menu" class="menu--hidden">

    </div>

    <div id="main">

      <div class="loader loader--full-screen">
        <img src="/assets/img/load.gif">
      </div>

    </div>

    <div id="modal">

    </div>

    <br>

    <script type="text/html" id="loading-template">

      <img src="/assets/img/load.gif">

    </script>

    <script type="text/html" id="manual-login-template">

      <form class="form js-login-form" style="padding: 20px;">

        <div class="form-group">
          <input type="text" class="form-control" id="username" placeholder="Username">
        </div>

        <div class="form-group">
          <input type="password" class="form-control" id="password" placeholder="Password">
        </div>

        <button type="submit" class="btn btn-default btn-block">
          Log In
        </button>

      </form>

    </script>

    <script type="text/html" id="login-template">

      <div class="social-login__title">
        Log In
      </div>

      <div class="social-login__icons">

        <a href="#" class="social-login__icon js-connect-facebook">
          <img src="/assets/img/facebook.png">
        </a>

        <a href="#" class="social-login__icon js-connect-twitter">
          <img src="/assets/img/twitter.png">
        </a>

      </div>

    </script>

    <script type="text/html" id="error-message-template">

      <div class="error-message__message">
        <p><strong><%= message %></strong></p>
        <% if (hasDetails) { %>
          <p><a href="#" class="error-message__read-more js-error-details-toggle">Read More</a></p>
        <% } %>
      </div>

      <% if (hasDetails) { %>
        <div class="error-message__details js-error-details hide">
          <p><strong><%= name %></strong></p>
          <p><%= description %></p>
          <pre style="margin-top: 7px;"><%= debug %></pre>
        </div>
      <% } %>

    </script>

    <script type="text/html" id="menu-template">

      <div class="menu__profile">
        <div class="menu__profile__photo">
          <img src="<%= photo %>">
        </div>
        <div class="menu__profile__name">
          <%= name %>
        </div>
      </div>

      <div class="menu__score">
        <div class="menu__score__counter">
          <div class="menu__score__counter__figure js-points"><%= points %></div>
          <div class="menu__score__counter__label">total points</div>
        </div>
        <div class="menu__score__counter">
          <div class="menu__score__counter__figure">0</div>
          <div class="menu__score__counter__label">achievements</div>
        </div>
      </div>

      <div class="menu__options">

        <a href="#rewards" class="menu__option js-menu-nav">Redeem Rewards</a>

        <div class="menu__option--checkbox">
          <input type="checkbox" class="js-fetch-adless"> Fetch ads with no metadata
        </div>

        <div class="menu__option--checkbox">
          <input type="checkbox" class="js-fetch-trivialess"> Fetch ads with no trivia
        </div>

        <a href="#" class="menu__option js-refresh-stream">Refresh Quiz Stream</a>

        <a href="#logout" class="menu__option">Log out</a>

      </div>

    </script>

    <script type="text/html" id="quiz-template">

    </script>

    <script type="text/html" id="quiz-screenshot-small-template">

      <div style="width: 323px; height: 182px; background-image: url(<%= imgURL %>); background-position: <%= backgroundPosition %>; background-repeat: none; background-size: 999px 578px; margin: 0 auto;"></div>

    </script>

    <script type="text/html" id="quiz-screenshot-large-template">

      <div style="width: 320px; height: 196px; background-image: url(<%= imgURL %>); background-position: <%= backgroundPosition %>; background-repeat: none; background-size: 972px 600px; margin: 0 auto;"></div>

    </script>

    <script type="text/html" id="quiz-logoquestion-template">

      <div class="instruction">
        Guess the product
      </div>

      <div class="logo">

        <div class="logo__grid">
          <div class="logo__container">
            <a href="#" class="logo__btn js-logoquestion-guess js-first-row-logo" data-index="0">
              <img src="<%= logos[0] %>">
            </a>
          </div>
          <div class="logo__container">
            <a href="#" class="logo__btn js-logoquestion-guess js-first-row-logo" data-index="1">
              <img src="<%= logos[1] %>">
            </a>
          </div>
          <div class="logo__container">
            <a href="#" class="logo__btn js-logoquestion-guess js-second-row-logo" data-index="2">
              <img src="<%= logos[2] %>">
            </a>
          </div>
          <div class="logo__container">
            <a href="#" class="logo__btn js-logoquestion-guess js-second-row-logo" data-index="3">
              <img src="<%= logos[3] %>">
            </a>
          </div>
        </div>

      </div>

    </script>

    <script type="text/html" id="quiz-triviaquestion-instruction-template">

      Answer the trivia question

    </script>

    <script type="text/html" id="quiz-triviaquestion-trivia-template">

      <div class="trivia__logo">
        <img src="<%= correctLogo %>">
      </div>
      <div class="trivia__body">
        <div class="trivia__question js-triviaquestion-trivia-question">
          <%= question %>
        </div>
      </div>

    </script>

    <script type="text/html" id="quiz-triviaquestion-correctanswer-template">

      Answer: <%= correctAnswer %>

    </script>

    <script type="text/html" id="quiz-triviaquestion-answer-template">

      <div class="answer__grid">
        <div class="answer__container">
          <a href="#" class="answer__btn js-triviaquestion-guess" data-index="0"><%= answers[0] %></a>
        </div>
        <div class="answer__container">
          <a href="#" class="answer__btn js-triviaquestion-guess" data-index="1"><%= answers[1] %></a>
        </div>
      </div>
      <div class="answer__grid">
        <div class="answer__container">
          <a href="#" class="answer__btn js-triviaquestion-guess" data-index="2"><%= answers[2] %></a>
        </div>
        <div class="answer__container">
          <a href="#" class="answer__btn js-triviaquestion-guess" data-index="3"><%= answers[3] %></a>
        </div>
      </div>

    </script>

    <script type="text/html" id="quiz-success-template">

      <div class="result result--success">
        <div class="result__primary">
          <%= totalPoints %>
        </div>
        <div class="result__body">
          points
        </div>
      </div>

    </script>

    <script type="text/html" id="quiz-failure-template">

      <div class="result result--failure">
        <div class="result__primary">
          !
        </div>
        <div class="result__body">
          Incorrect Answer
        </div>
      </div>

    </script>

    <script type="text/html" id="quiz-footer-template">

        <div class="quiz-metadata">
          <small><%= channelName %> &ndash; <%= startingAt %></small>
        </div>
        <div class="quiz-id">
          <small>#<%= id %></small>
        </div>

    </script>

    <script type="text/html" id="quiz-triviamissing-template">

      <div class="instruction">Trivia question unavailable</div>

    </script>

    <script type="text/html" id="rewards-template">

      <div class="rewards__title">
        Rewards
      </div>

      <div class="rewards__row">

        <div class="rewards__item-container">
          <div class="rewards__item--left">

            <div class="rewards__item__icon"></div>

            <div class="rewards__item__value">
              &euro;25
            </div>

            <div class="rewards__item__description">
              iTunes gift card
            </div>

            <div class="rewards__item__price">
              (3000)
            </div>

          </div>
        </div>

        <div class="rewards__item-container">
          <div class="rewards__item--right">

            <div class="rewards__item__icon"></div>

            <div class="rewards__item__value">
              &euro;50
            </div>

            <div class="rewards__item__description">
              iTunes gift card
            </div>

            <div class="rewards__item__price">
              (5500)
            </div>

          </div>
        </div>

      </div>

    </script>

    <script type="text/html" id="modal-template">

      <%= message %>

    </script>

    <script data-main="assets/js/init" src="/assets/js/vendor/require.js"></script>

  </body>
</html>