<!DOCTYPE html>
<html>
  <head>
    <title>Quizzle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--<link href="/assets/css/vendor/bootstrap.min.css" rel="stylesheet" media="screen">-->
    <link href="/assets/css/styles.css" rel="stylesheet" media="screen">

    <!--[if lt IE 9]>
      <script src="/assets/js/vendor/html5shiv.js"></script>
      <script src="/assets/js/vendor/respond.min.js"></script>
    <![endif]-->
  </head>
  <body style="padding-top: 70px;">

    <nav class="action-bar" role="navigation">

      <a class="action-bar__menu js-show-menu" href="#">
        <img src="/assets/img/logo.png">
      </a>

      <h1 class="action-bar__title">
        Quizzle
      </h1>

      <a class="action-bar__action" href="#play">
        <img src="/assets/img/refresh.png">
      </a>

      <!--<div class="navbar-header">
        <a class="navbar-toggle" href="#">
          <img src="/assets/img/refresh.png">
        </a>
        <a class="navbar-brand" href="#">
          <img src="/assets/img/logo.png">
        </a>
      </div>

      <div class="collapse navbar-collapse" id="quizzle-header">
        <ul class="nav navbar-nav navbar-left">
        </ul>
        <form class="navbar-form navbar-right">
          <div class="form-group">
            <label>Ad Stream Settings</label>
          </div>
          <div class="form-group">
            <input type="checkbox" class="js-fetch-adless"> Fetch ads with no related data?
          </div>
          <div class="form-group">
            <input type="checkbox" class="js-fetch-trivialess"> Fetch ads with no trivia questions?
          </div>
        </form>
      </div>--><!-- /.navbar-collapse -->

    </nav>

    <div id="main"></div>

    <br>

    <script type="text/html" id="login-template">

      <form role="form" id="login-form">

        <div class="form-group">
          <label for="username">Email Address</label>
          <input class="form-control" type="text" name="email" id="email" placeholder="john.smith@example.com">
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input class="form-control" type="password" name="password" id="password" placeholder="**********">
        </div>

        <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>

      </form>

      <br>

      <a href="#register" class="btn btn-default btn-block">Register an Account</a>

    </script>

    <script type="text/html" id="register-template">

      <h2>Register</h2>

      <form role="form" id="register-form">

        <div class="form-group">
          <label for="name">Name</label>
          <input class="form-control" type="text" name="name" id="name" placeholder="John Smith">
        </div>

        <div class="form-group">
          <label for="name">Email Address</label>
          <input class="form-control" type="email" name="email" id="email" placeholder="john.smith@example.com">
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input class="form-control" type="password" name="password" id="password" placeholder="**********">
        </div>

        <button type="submit" class="btn btn-primary btn-lg btn-block">Create Account</button>

      </form>

    </script>

    <script type="text/html" id="checkin-template">

      <h2>Check In</h2>

      <div id="checkin-airings" class="list-group"></div>

      <a href="#" class="btn btn-primary btn-lg btn-block checkin-submit">Check In</a>

    </script>

    <script type="text/html" id="checkin-airing-template">

      <div class="media">
        <div class="pull-left" style="width: 64px;">
          <img class="media-object" src="http://placehold.it/64x64" />
        </div>
        <div class="media-body">
          <h4 class="media-heading"><%= channel.get('name') %></h4>
          <div><%= show.get('name') %></div>
          <div><%= startingAt %> &ndash; <%= finishingAt %></div>
        </div>
      </div>

    </script>

    <script type="text/html" id="stream-template">

      <div id="stream-panels"></div>

      <div class="panel panel-default js-loading">
        <div class="panel-body" style="text-align: center;">
          <h3 style="margin: 0;">Loading...</h3>
        </div>
      </div>

      <a href="#" class="btn btn-block btn-default hide js-stream-load">Load More</a>

      <a href="#" class="btn btn-block btn-default hide js-stream-try-again">Try Again</a>

      <div class="alert alert-warning hide js-stream-depleted">
        <h3 style="margin: 0; text-align: center;">
          There are no more ads to load!
        </h3>
      </div>

    </script>

    <script type="text/html" id="stream-panel-template">

      <div class="js-stream" data-id="<%= id %>">

        <% if (hasAdData) { %>
          <div class="" style="padding: 0;">
            <div style="width: 323px; height: 182px; background-image: url(<%= storyboardURL %>); background-position: <%= storyboardBackgroundPosition %>; background-size: 999px 578px; margin: 0 auto;"></div>
          </div>
        <% } %>
          
        <div class="">

          <% if (hasAdData) { %>

            <div class="js-stream-logos">

              <h4 style="text-align: center; margin-bottom: 1em;">
                Tap the logo of the company from this ad
              </h4>

              <div class="quiz-logos-container">

                <div class="quiz-logos">
                  <div class="quiz-logo-container">
                    <a href="#" class="quiz-logo js-stream-logo-guess js-first-row-logo" data-index="0">
                      <img src="<%= logos[0] %>">
                    </a>
                  </div>
                  <div class="quiz-logo-container">
                    <a href="#" class="quiz-logo js-stream-logo-guess js-first-row-logo" data-index="1">
                      <img src="<%= logos[1] %>">
                    </a>
                  </div>
                  <div class="quiz-logo-container">
                    <a href="#" class="quiz-logo js-stream-logo-guess js-second-row-logo" data-index="2">
                      <img src="<%= logos[2] %>">
                    </a>
                  </div>
                  <div class="quiz-logo-container">
                    <a href="#" class="quiz-logo js-stream-logo-guess js-second-row-logo" data-index="3">
                      <img src="<%= logos[3] %>">
                    </a>
                  </div>
                </div>

              </div>

            </div>

            <% if (hasQuizData) { %>

              <div class="js-stream-trivia hide">

                <h4 style="text-align: center; margin-bottom: 1em;">
                  <%= question %>
                </h4>

                <div class="row" style="margin-bottom: 1em;">
                  <div class="col-xs-6" style="text-align: center;">
                    <a href="#" class="btn btn-lg btn-block btn-info js-stream-trivia-guess" style="white-space: normal;" data-index="0"><%= answers[0] %></a>
                  </div>
                  <div class="col-xs-6" style="text-align: center;">
                    <a href="#" class="btn btn-lg btn-block btn-info js-stream-trivia-guess" style="white-space: normal;" data-index="1"><%= answers[1] %></a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-6" style="text-align: center;">
                    <a href="#" class="btn btn-lg btn-block btn-info js-stream-trivia-guess" style="white-space: normal;" data-index="2"><%= answers[2] %></a>
                  </div>
                  <div class="col-xs-6" style="text-align: center;">
                    <a href="#" class="btn btn-lg btn-block btn-info js-stream-trivia-guess" style="white-space: normal;" data-index="3"><%= answers[3] %></a>
                  </div>
                </div>

              </div>

            <% } else { %>

              <div class="js-stream-trivia hide">

                <div class="alert alert-warning js-stream-trivia-missing" style="text-align: center; margin-bottom: 0;">
                  <h3 style="margin-top: 0;">
                    There are no trivia questions available
                  </h3>
                  <h3 style="margin-bottom: 0;">
                    You win <strong>100</strong> points
                  </h3>
                </div>

              </div>

            <% } %>

            <div class="js-stream-success hide">

              <div class="alert alert-success" style="text-align: center; margin-bottom: 0;">
                <h3 style="margin: 0;">
                  You win <strong>500</strong> points
                </h3>
              </div>

            </div>

            <div class="js-stream-failure hide">

              <div class="alert alert-danger" style="text-align: center; margin-bottom: 0;">
                <h3 style="margin: 0;">
                  Wrong
                </h3>
              </div>

            </div>

          <% } else { %>
            No ad data entered for <em><%= adIdentifier %></em>
          <% } %>

        </div>
        <div class="quiz-footer">
            <div class="quiz-metadata">
              <small><%= channelName %> &ndash; <%= startingAt %></small>
            </div>
            <div class="quiz-id">
              <small>#<%= displayID %></small>
            </div>
        </div>
      </div>

    </script>

    <script type="text/html" id="overlay-template">

      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title"><%= title %></h4>
          </div>
        </div>
      </div>

    </script>

    <script type="text/html" id="error-message-template">

      <div class="alert alert-danger" style="text-align: center;">
        <p><strong><%= message %></strong></p>
        <p><a href="#" class="btn btn-danger btn-xs js-toggle-display" data-toggle-display-target="error-details">Read More</a></p>
      </div>

      <div class="alert alert-danger hide" data-toggle-display-name="error-details" style="padding-bottom: 0;">
        <p><strong><%= error.name %></strong></p>
        <p><%= error.description %></p>
        <pre style="margin-top: 7px;"><%= error.debug %></pre>
      </div>

    </script>

    <script data-main="assets/js/init" src="/assets/js/vendor/require.js"></script>

  </body>
</html>