<!DOCTYPE html>
<html>
  <head>
    <title>Quizzle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/assets/css/vendor/bootstrap.min.css" rel="stylesheet" media="screen">

    <!--[if lt IE 9]>
      <script src="/assets/js/vendor/html5shiv.js"></script>
      <script src="/assets/js/vendor/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="container">

      <div class="page-header">
        <h1>
          Quizzle
          <small class="pull-right" id="player-name"></small>
        </h1>
      </div>

      <div id="main"></div>

      <br>

      <footer class="clearfix well well-sm">

        <div class="pull-left" style="line-height: 30px;">
          Quizzle &copy; 2013
        </div>

        <div class="pull-right">
          <a href="#" class="btn btn-default btn-sm js-debug-mode" data-toggle="button">Debug Mode</a>
          <a href="#logout" class="btn btn-default btn-sm">Log out</a>
        </div>

      </footer>
    </div>

    <script type="text/html" id="login-template">

      <form role="form" id="login-form">

        <div class="form-group">
          <label for="username">Email Address</label>
          <input class="form-control" type="text" name="email" id="email" placeholder="john.smith@example.com">
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input class="form-control" type="password" name="password" id="password" placeholder="**********">
        </div>

        <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>

      </form>

      <br>

      <a href="#register" class="btn btn-default btn-block">Register an Account</a>

    </script>

    <script type="text/html" id="register-template">

      <h2>Register</h2>

      <form role="form" id="register-form">

        <div class="form-group">
          <label for="name">Name</label>
          <input class="form-control" type="text" name="name" id="name" placeholder="John Smith">
        </div>

        <div class="form-group">
          <label for="name">Email Address</label>
          <input class="form-control" type="email" name="email" id="email" placeholder="john.smith@example.com">
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input class="form-control" type="password" name="password" id="password" placeholder="**********">
        </div>

        <button type="submit" class="btn btn-primary btn-lg btn-block">Create Account</button>

      </form>

    </script>

    <script type="text/html" id="checkin-template">

      <h2>Check In</h2>

      <div id="checkin-airings" class="list-group"></div>

      <a href="#" class="btn btn-primary btn-lg btn-block checkin-submit">Check In</a>

    </script>

    <script type="text/html" id="checkin-airing-template">

      <div class="media">
        <div class="pull-left" style="width: 64px;">
          <img class="media-object" src="http://placehold.it/64x64" />
        </div>
        <div class="media-body">
          <h4 class="media-heading"><%= channel.get('name') %></h4>
          <div><%= show.get('name') %></div>
          <div><%= startingAt %> &ndash; <%= finishingAt %></div>
        </div>
      </div>

    </script>

    <script type="text/html" id="stream-template">

      <h2>Stream</h2>

      <div id="stream-panels">
        Loading...
      </div>

      <a href="#" class="btn btn-block btn-default hide js-stream-load">Load More</a>

    </script>

    <script type="text/html" id="stream-panel-template">

      <div class="panel panel-default js-stream" data-id="<%= id %>">
        <div class="panel-heading">
          <h3 class="panel-title"><%= channelName %></h3>
        </div>
        <div class="panel-body">

          <% if (hasAdData) { %>

            <div style="width: 166px; height: 96px; background-image: url(<%= storyboardURL %>); background-position: <%= storyboardBackgroundPosition %>; margin: 0 auto;"></div>

            <div class="js-stream-logos">

              <hr>

              <h4 style="text-align: center; margin-bottom: 1em;">
                Tap the logo of the company from this ad
              </h4>

              <div class="row" style="margin-bottom: 1em;">
                <div class="col-xs-6" style="text-align: center;">
                  <a href="#" class="js-stream-logo-guess" data-index="0">
                  <img src="<%= logos[0] %>" width="176" height="108">
                  </a>
                </div>
                <div class="col-xs-6" style="text-align: center;">
                  <a href="#" class="js-stream-logo-guess" data-index="1">
                  <img src="<%= logos[1] %>" width="176" height="108">
                  </a>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-6" style="text-align: center;">
                  <a href="#" class="js-stream-logo-guess" data-index="2">
                  <img src="<%= logos[2] %>" width="176" height="108">
                  </a>
                </div>
                <div class="col-xs-6" style="text-align: center;">
                  <a href="#" class="js-stream-logo-guess" data-index="3">
                  <img src="<%= logos[3] %>" width="176" height="108">
                  </a>
                </div>
              </div>

            </div>

            <% if (hasQuizData) { %>

              <div class="js-stream-trivia hide">

                <hr>

                <h4 style="text-align: center; margin-bottom: 1em;">
                  <%= question %>
                </h4>

                <div class="row" style="margin-bottom: 1em;">
                  <div class="col-xs-6" style="text-align: center;">
                    <a href="#" class="btn btn-lg btn-block btn-default js-stream-trivia-guess" data-index="0"><%= answers[0] %></a>
                  </div>
                  <div class="col-xs-6" style="text-align: center;">
                    <a href="#" class="btn btn-lg btn-block btn-default js-stream-trivia-guess" data-index="1"><%= answers[1] %></a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-6" style="text-align: center;">
                    <a href="#" class="btn btn-lg btn-block btn-default js-stream-trivia-guess" data-index="2"><%= answers[2] %></a>
                  </div>
                  <div class="col-xs-6" style="text-align: center;">
                    <a href="#" class="btn btn-lg btn-block btn-default js-stream-trivia-guess" data-index="3"><%= answers[3] %></a>
                  </div>
                </div>

              </div>

            <% } %>

            <div class="js-stream-success hide">

              <hr>

              <div class="alert alert-success" style="text-align: center;">
                <h3 style="margin: 0;">
                  You win <strong>500</strong> points
                </h3>
              </div>

            </div>

            <div class="js-stream-failure hide">

              <hr>

              <div class="alert alert-danger" style="text-align: center;">
                <h3 style="margin: 0;">
                  Wrong
                </h3>
              </div>

            </div>

          <% } else { %>
            No ad data entered for <em><%= adIdentifier %></em>
          <% } %>

        </div>
        <div class="panel-footer">
          <small><%= startingAt %></small>
        </div>
      </div>

    </script>

    <script type="text/html" id="overlay-template">

      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title"><%= title %></h4>
          </div>
        </div>
      </div>

    </script>

    <script data-main="assets/js/init" src="/assets/js/vendor/require.js"></script>

  </body>
</html>