.answer {
    background: rgba(0, 0, 0, 0.2);
    padding: 10px $gutter;
    padding-bottom: 0;
}

.answer__grid {
    @extend %grid;
    @extend %grid--middle;
}

.answer__container {
    @extend %grid__item;
    @extend %one-half;
    margin-bottom: 10px;
    text-align: center;
}

.answer__btn {
    @extend .btn;
    @extend .btn-block;
    @extend .btn-default;
    display: block;
    width: 138px;
    height: 36px;
    border-radius: 0;
    white-space: normal;
    font-weight: 700;
    font-size: $font-size-base * 1.2;
}