.menu {
    position: fixed;
    top: 51px;
    left: -50%;
    bottom: 0;
    right: 100%;
    z-index: $zindex-modal;
    //border-right: 1px solid $navbar-default-border;
    background-color: #555;
    color: #fff;
}

.menu__profile {
    @extend .clearfix;
    height: 120px;
    padding: 20px;
    border-bottom: 1px solid #777;
    background: #666;
}

.menu__profile__photo {
    margin-bottom: 10px;
    text-align: center;

    img {
        @extend .img-circle;
    }
}

.menu__profile__name {
    text-align: center;
    font-size: 18px;
}

.menu__score {
    @extend .clearfix;
    height: 60px;
    padding: 5px 0;
    border-bottom: 1px solid #777;
}

.menu__score__counter {
    float: left;
    width: 50%;
    text-align: center;
}

.menu__score__counter__figure {
    font-size: 22px;
    font-weight: bold;
}

.menu__score__counter__label {
    font-size: 11px;
}

.menu__social {
    height: 120px;
    border-bottom: 1px solid #777;
    background: #666;
}

.menu__social__title {
    padding-top: 15px;
    padding-bottom: 9px;
    text-align: center;
    font-size: 11px;
}

.menu__social__icons {
    @extend .clearfix;   
}

.menu__social__icon {
    float: left;
    width: 50%;
    text-align: center;
}

.menu__options {
}

.menu__option {
    padding: 10px 6px;
    border-bottom: 1px solid #777;
}

a.menu__option {
    @extend .menu__option;
    display: block;
    padding-left: 30px;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
}

.menu__option--checkbox {
    @extend .menu__option;
    font-size: 11px;
    line-height: 13px;

    input {
        vertical-align: bottom;
    }
}