$menu-background-light: rgba(0, 0, 0, 0.4);
$menu-background-dark: rgba(0, 0, 0, 0.6);
$menu-border-color: #bdbdbd;

$menu-icon-height: 22px;

.menu {
    position: fixed;
    top: 51px;
    left: -50%;
    bottom: 0;
    right: 100%;
    z-index: $zindex-modal;
    border-right: 1px solid $menu-border-color;
    background-image: url('/assets/img/bgpic.jpg');
    color: #fff;
}

.menu__profile {
    @extend .clearfix;
    height: 120px;
    padding: 20px;
    border-bottom: 1px solid $menu-border-color;
    background-color: $menu-background-dark;
}

.menu__profile__photo {
    margin-bottom: 10px;
    text-align: center;

    img {
        @extend .img-circle;
    }
}

.menu__profile__name {
    text-align: center;
    font-size: 18px;
}

.menu__score {
    @extend .clearfix;
    height: 60px;
    padding: 5px 0;
    border-bottom: 1px solid $menu-border-color;
    background-color: $menu-background-light;
}

.menu__score__counter {
    float: left;
    width: 50%;
    text-align: center;
}

.menu__score__counter__figure {
    font-size: 22px;
    font-weight: bold;
}

.menu__score__counter__label {
    font-size: 11px;
}

.menu__cash {
    height: 60px;
    padding: 5px 0;
    border-bottom: 1px solid $menu-border-color;
    background: $menu-background-dark;
}

.menu__cash__counter {
    text-align: center;
}

.menu__cash__counter__figure {
    font-size: 22px;
    font-weight: bold;
}

.menu__cash__counter__label {
    font-size: 11px;
}

.menu__social {
    height: 120px;
    border-bottom: 1px solid $menu-border-color;
    background: $menu-background-dark;
}

.menu__social__title {
    padding-top: 15px;
    padding-bottom: 9px;
    text-align: center;
    font-size: 11px;
}

.menu__social__icons {
    @extend .clearfix;   
}

.menu__social__icon {
    float: left;
    width: 50%;
    text-align: center;
}

.menu__options {
}

.menu__option {
    padding: 14px 0 14px 6px;
    border-bottom: 1px solid $menu-border-color;
    background-color: $menu-background-light;
}

a.menu__option {
    @extend .menu__option;
    display: block;
    color: #fff;
    font-size: 15px;
    line-height: $menu-icon-height;
}

.menu__option--checkbox {
    @extend .menu__option;
    padding-left: 14px;
    font-size: 11px;
    line-height: 13px;

    input {
        margin-right: 10px;
        vertical-align: bottom;
    }
}

.menu__option__icon {
    display: block;
    float: left;
    width: 30px;
    margin-right: 5px;
    font-size: $menu-icon-height;
    line-height: 1;
    text-align: center;
}

.menu__option__icon--refresh {
    @extend .menu__option__icon;
    @extend .ion-refresh;
}

.menu__option__icon--logout {
    @extend .menu__option__icon;
    @extend .ion-log-out;
}