.quiz-container {
    padding-top: 9px;
}

.quiz {
    position: relative;
    height: 460px;
    margin: 0 0 40px 0;
}

.quiz-footer {
    @extend .row;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
    background: rgba(255, 255, 255, 0.1);
    color: $gray-light;
}

.quiz-metadata {
    @extend .col-xs-10;
    padding: 10px;
}

.quiz-id {
    @extend .col-xs-2;
    padding: 10px;
    text-align: right;
}