.sync-loader-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10000;
    background-color: rgba(0, 0, 0, 0.2);
}

.sync-loader {
    margin-top: 195px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

.sync-loader__icon {
    text-align: center;
    width: 100%;

    img {
        -webkit-animation: spin 1s infinite linear;

        @-webkit-keyframes spin {
            0%   {-webkit-transform: rotate(0deg)}
            100% {-webkit-transform: rotate(360deg)}
        }
    }
}

.sync-loader__message {
    margin-top: 12px;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
}