.trivia {
    @extend .media;
    padding: 1em $gutter;
    background: rgba(0, 0, 0, 0.1);
}

.trivia__logo {
    float: left;
    width: 25%;
    max-width: 200px;
    //height: 14%; -- Needs set sized screen
    margin-right: $gutter;
    padding: 2px;
    background: rgba(0, 0, 0, 0.2);
}

.trivia__logo img {
    @extend .media-object;
    @extend .img-responsive;
    padding: 4px;
    background: #fff;
}

.trivia__body {
    @extend .media-body;
}

.trivia__question {
    font-weight: 400;
}

.trivia__answer {
    font-weight: 700;
}