.trivia {
    @extend .media;
    height: 74px;
    margin-top: 0;
    padding: 10px $gutter;
    background: rgba(0, 0, 0, 0.1);
}

.trivia__logo {
    float: left;
    max-width: 142px;
    //height: 14%; -- Needs set sized screen
    margin-right: $gutter;
    padding: 2px;
    background: rgba(0, 0, 0, 0.2);
}

.trivia__logo img {
    @extend .media-object;
    @extend .img-responsive;
    max-height: 50px;
    padding: 4px;
    background: #fff;
}

.trivia__body {
    @extend .media-body;
}

.trivia__question {
    font-weight: 400;
}

.trivia__answer {
    font-weight: 700;
}