body {
    background-image: url('/assets/img/escheresque.png');
    background-repeat: repeat;
}

.navbar-title {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
    padding: 10px 0 0 0;
    color: #fff;
    font-weight: bold;
    font-size: 1.8em;
}

.navbar-form {
    color: $navbar-default-color;
}